<table>
    <tr>
        <th>Phones</th>
        <th>{{phone1.name}}</th>
        <th>{{phone2.name}}</th>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{phone1.description}}</td>
        <td>{{phone2.description}}</td>
    </tr>
    <tr>
        <td>Battery Type</td>
        <td>{{phone1.battery.type}}</td>
        <td>{{phone2.battery.type}}</td>
    </tr>
    <tr>
        <td>Ram</td>
        <td>{{phone1.storage.ram}}</td>
        <td>{{phone2.storage.ram}}</td>
    </tr>
    <tr>
        <td>Internal Storage</td>
        <td>{{phone1.storage.flash}}</td>
        <td>{{phone2.storage.flash}}</td>
    </tr>
    <tr>
        <td>Network Support</td>
        <td>{{phone1.connectivity.cell}}</td>
        <td>{{phone2.connectivity.cell}}</td>
    </tr>
    <tr>
    <tr>
        <td>Talk Time</td>
        <td>{{phone1.battery.talkTime}}</td>
        <td>{{phone2.battery.talkTime}}</td>
    </tr>
    <tr>
        <td>Standby Time</td>
        <td>{{phone1.battery.standbyTime}}</td>
        <td>{{phone2.battery.standbyTime}}</td>
    </tr>
        <td>Wifi</td>
        <td>{{phone1.connectivity.wifi}}</td>
        <td>{{phone2.connectivity.wifi}}</td>
    </tr>
    <tr>
        <td>Bluetooth</td>
        <td>{{phone1.connectivity.bluetooth}}</td>
        <td>{{phone2.connectivity.bluetooth}}</td>
    </tr>
    <tr>
        <td>Infrared</td>
        <td>{{phone1.connectivity.infrared | checkmark}}</td>
        <td>{{phone2.connectivity.infrared | checkmark}}</td>
    </tr>
    <tr>
        <td>Camera Primary</td>
        <td>{{phone1.camera.primary}}</td>
        <td>{{phone2.camera.primary}}</td>
    </tr>
    <tr>
        <td>Camera Features</td>
        <td>{{phone1.camera.features.join(', ')}}</td>
        <td>{{phone2.camera.features.join(', ')}}</td>
    </tr>
    <tr>
        <td>GPS</td>
        <td>{{phone1.connectivity.gps | checkmark}}</td>
        <td>{{phone2.connectivity.gps | checkmark}}</td>
    </tr>
    <tr>
        <td>OS Version</td>
        <td>{{phone1.android.os}}</td>
        <td>{{phone2.android.os}}</td>
    </tr>
    <tr>
        <td>UI</td>
        <td>{{phone1.android.ui}}</td>
        <td>{{phone2.android.ui}}</td>
    </tr>
    <tr>
        <td>Dimension</td>
        <td><p ng-repeat="dim in phone1.sizeAndWeight.dimensions ">{{dim}}</p></td>
        <td><p ng-repeat="dim in phone2.sizeAndWeight.dimensions ">{{dim}}</p>t </td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>{{phone1.sizeAndWeight.weight}}</td>
        <td>{{phone2.sizeAndWeight.weight}}</td>
    </tr>
    <tr>
        <td>Screen Size</td>
        <td>{{phone1.display.screenSize}}</td>
        <td>{{phone2.display.screenSize}}</td>
    </tr>
    <tr>
        <td>Screen Resolution</td>
        <td>{{phone1.display.screenResolution}}</td>
        <td>{{phone2.display.screenResolution}}</td>
    </tr>
    <tr>
        <td>Touch Screen</td>
        <td>{{phone1.display.touchScreen | checkmark}}</td>
        <td>{{phone2.display.touchScreen | checkmark}}</td>
    </tr>
     <tr>
        <td>CPU</td>
        <td>{{phone1.hardware.cpu}}</td>
        <td>{{phone2.hardware.cpu}}</td>
    </tr>
    <tr>
        <td>USB</td>
        <td>{{phone1.hardware.usb}}</td>
        <td>{{phone2.hardware.usb}}</td>
    </tr>
    <tr>
        <td>Audio / headphone jack</td>
        <td>{{phone1.hardware.audioJack}}</td>
        <td>{{phone2.hardware.audioJack}}</td>
    </tr>
    <tr>
        <td>FM Radio</td>
        <td>{{phone1.hardware.fmRadio | checkmark}}</td>
        <td>{{phone2.hardware.fmRadio | checkmark}}</td>
    </tr>
    <tr>
        <td>Accelerometer</td>
        <td>{{phone1.hardware.accelerometer | checkmark}}</td>
        <td>{{phone2.hardware.accelerometer | checkmark}}</td>
    </tr>
    <tr>
        <td>Additional Features</td>
        <td>{{phone1.additionalFeatures}}</td>
        <td>{{phone2.additionalFeatures}}</td>
    </tr>


</table>



