<script src="http://ec2-54-68-24-99.us-west-2.compute.amazonaws.com/~siyue/jquery.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="weight">Weight</option>
        <option value="battery">Battery</option>
        <option value="carrier">Carrier</option>
        <option value="display">Screnn Size</option>

      </select>

      <br/>
      <br/>
	Compare two phones:
      <select ng-model="compare1" style="width:100px" id="phone1">
                <option ng-repeat="phone in phones" value={{phone.id}}>{{phone.name}}</option>
      </select>
      <br/>
      <select ng-model="compare2" style="width:100px" id="phone2">
                <option ng-repeat="phone in phones" value={{phone.id}}>{{phone.name}}</option>
      </select>
        <br/>
       <button type="button" onclick="compare()">Compare</button>
      </div>
      <div class="col-md-10">

      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>

        </li>
      </ul>

    </div>
  </div>
</div>
<script>
function compare(){
        var phone1 = document.getElementById("phone1").value;
        var phone2 = document.getElementById("phone2").value;
	window.open("#/phones/"+phone1+"/"+phone2);
	console.log("phone1"+phone1);
	console.log("phone2"+phone2);
}
</script>

